<div class="footer-section">
    <div class="footer-section_links">
        <a href="" class="links_link">Meta</a>
        <a href="" class="links_link">Información</a>
        <a href="" class="links_link">Blog</a>
        <a href="" class="links_link">Empleo</a>
        <a href="" class="links_link">Ayuda</a>
        <a href="" class="links_link">API</a>
        <a href="" class="links_link">Privacidad</a>
        <a href="" class="links_link">Configuración de cookies</a>
        <a href="" class="links_link">Condiciones</a>
        <a href="" class="links_link">Ubicaciones</a>
        <a href="" class="links_link">Instagram Lite</a>
        <a href="" class="links_link">Threads</a>
        <a href="" class="links_link">Subir contactos y personas no usuarias</a>
        <a href="" class="links_link">Meta Verified</a>
    </div>
    <div class="footer-section_disclaimer">
        <a href="" class="disclaimer_lang">Español (España)</a>
        <a href="" class="disclaimer_rights">© 2024 Fake Instagram from Manu</a>
    </div>
</div>