<div class="user-stories-wrapper">
    <div class="user-stories-section" #userStories>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
        <app-individual-story class="individual-story"></app-individual-story>
    </div>
    <div class="story-buttons">
        <button [ngClass]="{'story-buttons-active': !isFirstIndex(), 'story-buttons-off': isFirstIndex() }" class="story-buttons__back" (click)="goToPreviousIcon()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: rgb(145, 144, 144); stroke-width: 5.33333; overflow: visible;"><path fill="none" d="M20 28 8.7 16.7a1 1 0 0 1 0-1.4L20 4"></path></svg>        
        </button>
        <button [ngClass]="{'story-buttons-active': !isLastIndex(), 'story-buttons-off': isLastIndex() }" class="story-buttons__next" (click)="goToNextIcon()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: rgb(145, 144, 144); stroke-width: 5.33333; overflow: visible;"><path fill="none" d="m12 4 11.3 11.3a1 1 0 0 1 0 1.4L12 28"></path></svg>
        </button>
    </div>
</div>