<div class="user-content-section">
    <div class="user-profile"></div>
    <div class="suggest-header">
        <div class="header-text">Sugerencias para ti</div>
        <div class="show-all">Ver todo</div>
    </div>
    <div class="suggestion-list"></div>
    <div class="user-content-footer">
        <div class="footer-element">Información</div>
        <div class="footer-element">Ayuda</div>
        <div class="footer-element">Prensa</div>
        <div class="footer-element">API</div>
        <div class="footer-element">Empleo</div>
        <div class="footer-element">Privacidad</div>
        <div class="footer-element">Condiciones</div>
        <div class="footer-element">Ubicaciones</div>
        <div class="footer-element">Idioma</div>
        <div class="footer-element">Meta Verified</div>
    </div>
    <div class="copyright">© 2024 FAKE INSTAGRAM FROM META</div>
</div>