.user-home-section{
    display: flex;
    flex-direction: row;
    & > .side-navbar{
        flex: 0 0 17%;
    }
    & > .content{
        flex: 0 0 83%
    }
    height: 100vh;
}

.content{
    display: flex;
    flex-direction: row;
    & > .content-main{
        flex: 0 0 60%;
    }
    & > .content-footer{
        flex: 0 0 40%;
    }
}
@media (max-width: 1100px) {
    .user-home-section{
        & > .side-navbar{
            flex: 0 0 8%;
        }
        & > .content{
            flex: 0 0 92%
        }
    }
    .content{
        & > .content-main{
            flex: 0 0 100%;
        }
        & > .content-footer{
            flex: 0 0 0%;
            display: none;
        }
    }
}